################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestAuth/TestAuth/obj/Release/Package/PackageTmp/bin
